PIL
fabric
django==1.4.2
south==0.7.6
MySQL-python
beautifulsoup
pygments==1.5
django-pipeline==1.2.20
python-memcached==1.48

-e svn+http://django-tagging.googlecode.com/svn/trunk/#egg=tagging
-e git+git@github.com:tualatrix/django-xmlrpc.git@master#egg=django_xmlrpc
-e git+git@github.com:tualatrix/django-pingback.git@v0.1.3#egg=pingback
