PIL
fabric
lxml
django==1.6.4
south
MySQL-python
beautifulsoup
pygments
django-pipeline
python-memcached
django-tastypie

-e svn+http://django-tagging.googlecode.com/svn/trunk/#egg=tagging
-e git+git@github.com:tualatrix/django-xmlrpc.git@master#egg=django_xmlrpc
-e git+git@github.com:tualatrix/django-pingback.git@v0.1.3#egg=pingback
