{% load pipeline menu utils %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="订阅 TualatriX Feed" href="http://feeds.feedburner.com/tualatrix" />
    <link rel="pingback" href="{% fullurl xmlrpc %}" />
    <link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}img/favicon.ico" />
    <meta name="google-site-verification" content="dQrNwIxyr9oBaxexqgzQKlenOC-d-7VmT_asQEizeJU" />
    {% stylesheet "imtx" %}
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-503846-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
        
<body>
    <div id="bgcontain"> 
        <div id="header">
            <h1><a href="/">I'm TualatriX!</a></h1>
            <form action="/search/" method="GET">
            <div>
                <input type="text" value="Search..." onfocus="if (value =='Search...'){value =''}" onblur="if (value ==''){value='Search...'}" name="s" id="s" />
                <input type="image" id="searchsubmit" value="Search" src="{{ STATIC_URL }}css/images/search.gif" />
            </div>
            </form>
        </div> 

        <div id="menu">
        {% get_menu %}
        </div>
        <div class="contain">
            <div id="content" class="narrowcolumn">
                {% block content %}{% endblock %}
            </div>
    {% include "sidebar.html" %}
        </div>
        <hr />
        <div id="footer">
            <p>
            Powered by <a href="http://www.djangoproject.org/" rel="external">Django</a> and <a href="http://imtx.me" title="It's TualatriX's Website.">TualatriX</a>, Theme designed By <a href="http://www.hoofei.com/">Hoofei</a>
            </p>
        </div>
    </div>
    {% javascript "imtx" %}
</body>
</html>
