{% load sidebar i18n staticfiles %}
<div id="sidebar">
  <ul>
    <li>
      <h2>{% trans "Wechat" %}</h2>
      <p align="center"><img width="129px" height="129px" src="{% static "img/imtx-qrcode.jpg" %}" alt="imtx-qrcode"/></p>
    </li>
    <li>
      <h2>{% trans "Recent Posts" %}</h2>
      {% get_recent_posts %}
    </li>

    <li>
      <h2>{% trans "Recent Comments" %}</h2>
      {% get_recent_comments %}
    </li>

    <li>
      <h2>{% trans "Recent Pingbacks" %}</h2>
      {% get_recent_pingbacks %}
    </li>

    <li>
      <h2>{% trans "Links" %}</h2>
      {% get_links %}
    </li>

    <li>
      <h2>{% trans "Categories" %}</h2>
      {% get_categories %}
    </li>

    <li>
    <h2>{% trans "Archive" %}</h2>
      {% get_archive %}
    </li>

    <li>
      <h2>{% trans "Admin" %}</h2>
      <ul>
        {% if user.is_staff %}
        <li><a href="/admin/">{% trans "Admin" %}</a></li>
        {% else %}
        <li><a href="/admin/">{% trans "Login" %}</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="/admin/logout/">{% trans "Logout" %}</a></li>
        {% endif %}
      </ul>
    </li>
  </ul>
</div>
