{% load compressed %}
<html>
  <head>
    <title></title>
    {% compressed_css 'manity' %}
  </head>
    <body>
      <div id="wrapper">
        <div id="header">
          <h1>Manity!</h1>
          <div id="nav">
            <ul>
              <li>Home</li>
              <li>Why Manity</li>
              <li>Q A</li>
              <li>Purchase</li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
        <div id="content">
        </div>
        <div id="footer">
          
        </div>
      </div>
    </body>
</html>
