{% load compressed staticfiles %}
<html>
  <head>
    <title></title>
    {% compressed_css 'manity' %}
  </head>
    <body>
      <div class="back">
        <div class="wrapper">
          <div class="header">
            <h1>Manity</h1>
            <div class="nav">
              <ul>
                <li class="selected"><a href="#home">Home</a></li>
                <li><a href="#why">Why Manity</a></li>
                <li><a href="#qa">Q&amp;A</a></li>
                <li><a href="#purchase">Purchase</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="content">
          <div class="showarea">
            <img src="{% static "img/manity-macbookair.png" %}" alt="" />
            <div class="download">
              <h2>Manity</h2>
              <p class="version">v1.0<p>
              <ul>
                <li>Simple</li>
                <li>Easy</li>
                <li>Fast</li>
              </ul>
              <img src="{% static "img/download.png" %}" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="description-back">
        <div class="wrapper">
          <div class="description">
            <p class="what">Manity is a fast app launch and switch tool designed for OS X. </p>
            <p class="whatif">If you are a people who would like to use keyboard to make effective usage of operating system, Manity will help you to maximize your efficiency.</p>
          </div>
          <div class="why">
            <h2>Why Manity</h2>
            <p>Manity is an easy to use app, you can learn how to use it without any configuration and study. Just remember, when you want to switch to an app, hold the Option key and press the target number, you will be switched to the target app immediately. If this app hasn't launched yet, Manity will also launch it.</p>
            <p>The idea of Manity comes from Ubuntu Unity desktop, if you've ever used Unity desktop and get used to the Super key feature, and want the same feature in OS X, then Manity is designed for you. This is also the initial goal why I developed Manity.</p>
            <p>In our daily computer life, we all have some app which will be used very frequently, like Finder, Safari (or other web browser)  or Terminal. Switch and use them should be direct, the old CMD+Tab switcher should only be used when switch to the not common used apps.</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Copyright @ Tualatrix Chou 2012</p>
      </div>
    </body>
</html>
