{% load compressed staticfiles %}
<html>
  <head>
    <title>Manity</title>
    {% compressed_css 'manity' %}
  </head>
  <body>
    <div class="back">
      <div class="wrapper">
        <div class="header">
          <h1>Manity</h1>
          <div class="nav">
            <ul>
              <li><a href="/manity/#home">Home</a></li>
              <li><a href="/manity/#why">Why Manity</a></li>
              <li><a href="/manity/#faq">FAQ</a></li>
              <li><a href="/manity/#purchase">Purchase</a></li>
              <li><a href="/manity/#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
  </body>
</html>
